<!DOCTYPE html>
<html>
  <head>
     <h1> Registration</h1>
  </head>  
<body>
  {% if message %}
    <p id=success>{{ message }}</p>
  {% endif %}

<form action="" method="post">
    Please Enter Username <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
    Please Enter Password <input type="password" placeholder="Enter Password" name="pword" id="pword" required>
    Please enter phone number for 2fa <input type="text" placeholder="Enter phone#" name="2fa" id="2fa" required>
    <input type="submit" name="submit">
</form>

</body>
</html>
