<!DOCTYPE html>
<html>
  <head>
     <h1> Registration</h1>
  </head>  
<body>
<form action="login.html" method="post">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
    <label for="pword"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pword" id="pword" required>
    <label for="2fa"><b>Two-factor Authentication Device</b></label>
    <input type="text" placeholder="Enter Username" name="2fa" id="2fa" required>
    <input type="submit" >
</form>
</body>
</html>
